
<div class="container">
  <div class="row">

    <div class="col-12 text-center">

      <div class="courses_wrap">
        <h2>курси</h2>
      </div>

    </div>


      <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto mt-3 mb-3">
        <div class="item-courses-new max">
          <div class="courses_cover"></div>
          <div class="courses_bord"></div>
          <a href="/digitaldsmax"><h2 class="courses_caption">КУРС 3DS MAX</h2></a>
          <h6 class="teacher">Дмитренко Антон</h6>
          <div class="card-footer">
            <p>Початок: 31 жовтня</p>
            <h6>Питання з приводу запису: <br><span>(097)-57-90-470</span></h6>
            <a href="/digitaldsmax" class="btn mt-2 btn-secondary">докладніше</a>
          </div>
        </div>
      </div>



    <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto mt-3 mb-3">
      <div class="item-courses-new archicad">
        <div class="courses_cover"></div>
        <div class="courses_bord"></div>
        <a href="/archicad"><h2 class="courses_caption">Дизайн Iнтер'єра в ArchiCAD</h2></a>
        <h6 class="teacher">Іван Мироненко</h6>
        <div class="card-footer">
          <p>Початок: 31 жовтня</p>
          <h6>Питання з приводу запису: <br><span>(097)-57-90-470</span></h6>
          <a href="/archicad" class="btn mt-2 btn-secondary">докладніше</a>
        </div>
      </div>
    </div>




    <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto mt-3 mb-3">
      <div class="item-courses-new react_native">
        <div class="courses_cover"></div>
        <div class="courses_bord"></div>
        <a href="/reactNative"><h2 class="courses_caption">React Native</h2></a>
        <h6 class="teacher"> Andrey Prih </h6>
        <div class="card-footer">
          <p>Початок: 31 жовтня</p>
          <h6>Питання з приводу запису: <br><span>(097)-57-90-470</span></h6>
          <a href="/reactNative" class="btn mt-2 btn-secondary">докладніше</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto mt-3 mb-3">
      <div class="item-courses-new photoshop">
        <div class="courses_cover"></div>
        <div class="courses_bord"></div>
        <a routerLink="/photoshop"><h2 class="courses_caption">Курс Adobe Photoshop | Lightroom</h2></a>
        <h6 class="teacher">Констянтин Яловенко</h6>
        <div class="card-footer">
          <p>Початок: 31 жовтня</p>
          <h6>Питання з приводу запису: <br><span>(097)-57-90-470</span></h6>
          <a routerLink="/photoshop" class="btn mt-2 btn-secondary">докладніше</a>
        </div>
      </div>
    </div>




  </div>
</div>
