<div class="container" xmlns="">
  <div class="row">

    <div class="col-12 wrap-course">
      <h2>Курс "Дизайн Iнтер'єра в ArchiCAD"</h2>
    </div>

    <div class="col-12 p-0">

      <div class="item-courses">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс 'Дизайн Iнтер'єра в ArchiCAD'" >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">8</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">5</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 4000грн</div>
             </span>
          </div>

        </div>
      </div>
    </div>


    <div class="item-info">
      <div class="row">
        <div class="col-12">
          <div class="course-info">
            <p>Курс "Дизайн Iнтер'єра в ArchiCAD" розрахований на навчання з нуля. </p>
            <p>Немає потреби мати певні навички і знання, вивчення програми почнеться зі знайомства з інтерфейсом і завершиться повним розумінням, що таке справжній "Дизайн проект інтер'єру", що в нього входить і найголовніше ви будете вміти його робити. Дизайн проект це не тільки красива картинка, а й технічне посібник з реалізації задуманого.</p>
            <p>По закінченню 2х місяців ви навчитеся розробляти повноцінний дизайн проект з повним комплектом креслень, розгорток, розрізів і т.д.</p>

            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;  Початок курсу: 31 жовтня <br>
              <i class="fa fa-list" aria-hidden="true"></i>&nbsp; 2 місяці, понеділок, середа, п’ятниця з 19:00 до 21:00 <br>
              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;  Годин практики: 48 <br>
              <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Освоїте програми: About ARCHICAD <br>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Результат- Ваш готовий дизайн проект  <br>
            </p>

          </div>
        </div>

      </div>
    </div>




    <div class="wrap-teacher">

      <div class="name-teacher">
        <h3>Викладач: Іван Мироненко </h3>
      </div>

      <div class="teacher-img">
        <img src="../../../../assets/images/page_courses/archicad/teather_1.jpg" alt="3"  class="teacher">
      </div>

      <div class="teacher-info">
        <p>
          Практикуючий архітектор і дизайнер інтер'єрів.
        </p>
        <p>
          Досвід роботи в програмі з 2009 року. За плечима понад 500 виконаних проектів приватних будинків, а так само інтер'єрів житлових і нежитлових приміщень.        </p>
      </div>

    </div>


    <div class=" col-12 program-wrap">

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 1 місяць</span>

      <ul>
        <li> Знайомство з ArchiCAD. Інтерфейс ArchiCAD. Інструменти та їх налаштування. Гарячі клавіші.</li>
        <li> Робота зі слоями та їх налаштування. </li>
        <li> Знайомство зі складом проекту «Дизайн інтер'єру» на прикладі одноповерхового будинку. </li>

      </ul>

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 2 місяць</span>

      <ul>
        <li> Підготовка комплекту креслень «Дизайн інтер'єру» на прикладі одноповерхового будинку. </li>
        <li> Робота в 3D вікні. </li>
        <li> Створення внутрішньої моделі одноповерхового будинку для експорту в програми з візуалізації.</li>
        <li> Створення зовнішньої моделі одноповерхового будинку для експорту в програми з візуалізації. </li>

      </ul>

    </div>


    <div class="col-12 portfolio-wrap">

      <div class="portfolio">
        <h2>Портфоліо</h2>
      </div>

      <div class="portfolio_img">
        <app-slider [images]="currentImages"> </app-slider>
      </div>



    </div>


    <div class="col-12 p-0">

      <div class="item-courses-too">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс 'Дизайн Iнтер'єра в ArchiCAD'" >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">8</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">5</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 4000грн</div>
             </span>
          </div>

        </div>
      </div>
    </div>






  </div>
</div>
