<div class="container" xmlns="">
  <div class="row">

    <div class="col-12 wrap-course" style="margin-top: 100px">
      <h2>Курс Adobe Photoshop | Adobe Lightroom</h2>
    </div>

    <div class="col-12 p-0">

      <div class="item-courses">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                      <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                      <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                      <input name="kyrs" type="hidden" value="Курс Adobe Photoshop | Adobe Lightroom " >
                      <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">10</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">5</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

             <span class="countdown">
                   <div class="price">Ціна: 2200грн</div>
             </span>
          </div>

        </div>
      </div>
      </div>


<div class="item-info">
  <div class="row">
    <div class="col-12">
      <div class="course-info">
        <p>Як зробити ваші фотографії краще і яскравіше?</p>
        <p>Для того, щоб робити класні фото тобі не потрібно вчиться в університеті або мати природний талант. Потрібно знати основні "Правила і прийоми", розуміти як вони працюють на етапі зйомки і постобробки. Все це і не тільки ти зможеш дізнатися на нашому курсі. Освоїти базові знання роботи в редакторах, та правильні ракурси фотографії.</p>
        <p>Відкривай собі новий світ якісної і яскравої фотографії. Переконайся, що з нами це не складно.</p>

        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;  Початок курсу: 5 грудня<br>
          <i class="fa fa-list" aria-hidden="true"></i>&nbsp; 1 місяці, понеділок, середа з 19:00 до 21:00<br>
          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;  Годин практики: 16 <br>
          <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Освоїте програми: Adobe Photoshop, Adobe Lightroom<br>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Результат - Ваше перше портфоліо <br>
        </p>

      </div>
    </div>

  </div>
</div>




    <div class="wrap-teacher">

        <div class="name-teacher">
          <h3>Викладач: Костянтин Яловенко</h3>
        </div>

          <div class="teacher-img">
              <img src="../../../../assets/images/photoshop/teather_2.jpg" alt="3"  class="teacher">
          </div>

          <div class="teacher-info">
             <p>
            - професійний фотограф з авторським стилем. Вже понад 6 років займається фотографією і знає, під яким кутом дивитися на світ, що б зловити свій кращий кадр. За цей час встиг спробувати себе в різних жанрах, на даному етапі віддає перевагу портретній і репортажній зйомці.
             </p>
            <p>
             Має досвід зйомки екстримальних вуличних субкультур різних напрямків. У своїх фотографіях намагається передати атмосферу, емоції і наповнити фото історією.
            </p>
          </div>

    </div>


    <div class=" col-12 program-wrap">

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 1 місяць</span>

      <ul>
        <li> Основи роботи в програмі Adobe Photoshop.</li>
        <li> Основи роботи в програмі Adobe Lightroom.</li>
        <li> Основні етапи роботи: інструменти, композиція, навігація.</li>
        <li> Робота з кольором, слоями, корекція кольору, фотофільтри.</li>
        <li> Робота з масками, робота з текстом, з файлами RAW.</li>
        <li> Ретуш.</li>
        <li> Ціле заняття буде присвячено підбору ракурсів. Разом з викладачем, у вас буде унікальна прогулянка по Харкову, з цікавими завданнями.</li>
        <li> Так само Вас навчать, як обробляти фотографії, зроблені на телефон.</li>
        <li> Дипломна робота. Захист. І отримання диплома про закінчення курсу.</li>

      </ul>

    </div>


    <div class="col-12 portfolio-wrap">

      <div class="portfolio">
          <h2>Портфоліо</h2>
      </div>








    </div>




    <div class="col-12 p-0">

      <div class="item-courses-too">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс Adobe Photoshop | Adobe Lightroom " >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">10</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">5</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 2200грн</div>
             </span>
          </div>

        </div>
      </div>
    </div>






  </div>
</div>



