<div class="container" xmlns="">
  <div class="row my-test" [class.transparent]="isTransparent">
    <div class="col-12 mx-auto header-block">


      <div class="header-numb container-fluid" [class.transparent]="isTransparent">
        <h2 class='number'><a href="tel:0975790470">(097) 57-90-470</a></h2>
      </div>


      <nav class="navbar navbar-expand-md my-navbar" [class.transparent]="isTransparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavBar" aria-controls="NavBar"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
        <div class="collapse navbar-collapse header-menu" id="NavBar" [class.transparent]="isTransparent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a data-scroll routerLink="/">ГОЛОВНА</a>
            </li>
            <li class="nav-item">
              <a data-scroll routerLink="/events">івенти</a>
            </li>
            <li class="nav-item">
              <a data-scroll routerLink="/courses">курси</a>
            </li>
            <li class="nav-item">
              <a data-scroll routerLink="/coworking" class="colorMy">коворкінг</a>
            </li>
            <li class="nav-item">
              <a data-scroll (click)="myFooterScroll()" class="scrollfooter">контакти</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
</div>





