<div class="container" xmlns="">
  <div class="row">

    <div class="col-12 wrap-course" style="margin-top: 100px">
      <h2>Курс "Дизайн Iнтер'єра - 3Ds MAX"</h2>
    </div>

    <div class="col-12 p-0">

      <div class="item-courses">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс 'Дизайн Iнтер'єра - 3Ds MAX' " >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">10</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">4</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 2400грн/мiсяць</div>
             </span>
          </div>

        </div>
      </div>
    </div>


    <div class="item-info">
      <div class="row">
        <div class="col-12">
          <div class="course-info">
            <p>На Вас чекають два динамічних місяця здобуття усіх необхідних навичок для повноцінної роботи дизайнером інтер'єрів. </p>
            <p>Авторська програма від затребуваного дизайнера та педагога з великим досвідом - Дмитренко Антона. Курс надає можливість з перших уст дізнатися про всі тонкощі професії, та створити власний дизайн-проект, який буде відповідати всім вимогам часу, стане добрим початком для Вашого портфоліо. До того ж курс буде цікавий і практикуючим дизайнерам - дозволить розширити свій погляд та покращити навички.</p>

            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;  Початок курсу: 4 лютого <br>
              <i class="fa fa-list" aria-hidden="true"></i>&nbsp; 2 місяці, понеділок, середа, п’ятниця з 17:00 до 19:00 <br>
              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;  Годин практики: 48 <br>
              <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Освоїте програми: 3ds Max, Photoshop, ArchiCAD <br>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Результат- Ваш готовий дизайн проект  <br>
            </p>

          </div>
        </div>

      </div>
    </div>




    <div class="wrap-teacher">

      <div class="name-teacher">
        <h3>Викладач: Дмитренко Антон</h3>
      </div>

      <div class="teacher-img">
        <img src="../../../../assets/images/page_courses/3DsMax/teather.jpg" alt="3"  class="teacher">
      </div>

      <div class="teacher-info">
        <p>
          Автор проектів: Арт- завод «Механіка»; клуб "Радмір"; Spalah; школа танців «All Stars» і багатьох інших ...
        </p>
        <p>
          Результат: У процесі навчання ми виконаємо проект з усіма візуалізаціями і кресленнями для його реалізації на практиці.
        </p>
      </div>

    </div>


    <div class=" col-12 program-wrap">

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 1 місяць</span>

      <ul>
        <li> Основи моделювання в 3ds-Max. </li>
        <li> Створення V-Ray матеріалів. </li>
        <li> Освітленні в V-Ray </li>
        <li> Оволодієте основною для дизайну інтер'єрів програмою - 3ds Max, та необхідним інструментарієм Photoshop (задля надання максимальної візуальної привабливості Вашим проектам). </li>

      </ul>

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 2 місяць</span>

      <ul>
        <li> Впродовж другого місяця ми виконаємо власний проект з усіма візуалізаціями та кресленнями, що необхідні для його реалізації на практиці. </li>
        <li> Завдяки особливому, індивідуальному підходу до кожного студенту ви пройдете шлях до власного дизайн-проекту таким чином, що в подальшому жодне можливе замовлення не викликає у Вас труднощів. </li>
        <li> Приємним бонусом для Вас стануть корисні поради, що допоможуть побудувати успішну кар'єру. </li>

      </ul>

    </div>


    <div class="col-12 portfolio-wrap">

      <div class="portfolio">
        <h2>Портфоліо</h2>
      </div>

      <app-slider [images]="currentImages"> </app-slider>


    </div>


    <div class="col-12 p-0">

      <div class="item-courses-too">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс 'Дизайн Iнтер'єра - 3Ds MAX' " >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">10</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">5</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 2200грн</div>
             </span>
          </div>

        </div>
      </div>
    </div>






  </div>
</div>



