 <div class="header-top">

  <svg height="0" width="0" class="svg-clip">
    <defs>
      <clipPath id="hero-clip" clipPathUnits="objectBoundingBox">
        <!-- utilize relative values for the points attribute -->
        <polygon fill="none" points="0,0 1,0 1,.9 .5,1 0,.9 "/>
      </clipPath>
    </defs>
  </svg>



  <div class="container">
    <div class="row">
      <div class="col-10 col-sm-11 col-md-10 col-lg-7 mx-auto text-center ">

        <div class="header-txt">

          <div class="caption">
            <h1>розвиток</h1>
          </div>

          <div class="description">
            <div class="description-text">
              <p>Креативний хаб Розвиток це робочий, інформаційний, освітній та розважальний заклад, що складається з комфортного та сучасного коворкінгу на 18 робочих місць, зони проведення заходів на 60 відвідувачів, навчального класу для проведення лекцій та майстеркласів, кімнати фото-відео запису та ресторану.
              </p>
              <button type="button" class="btn btn-secondary" >докладніше</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg version="1.2" baseProfile="tiny" id="pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20.1 198.1" xml:space="preserve">
                <g class="animated bounce infinite">
                    <path fill="none" stroke="#FFFFFF" stroke-width="1.4649" stroke-miterlimit="10" d="M10,64.3L10,64.3c-5.1,0-9.3-4.2-9.3-9.3V44.2c0-5.1,4.2-9.3,9.3-9.3h0c5.1,0,9.3,4.2,9.3,9.3V55C19.3,60.1,15.2,64.3,10,64.3z"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="1.4649" stroke-linecap="round" stroke-miterlimit="10" x1="10" y1="40.5" x2="10" y2="44.9"/>
                </g>
                <line fill="none" stroke="#FFFFFF" stroke-width="1.4649" stroke-miterlimit="10" x1="10" y1="198.1" x2="10" y2="70"/>
            </svg>

</div>




 <div class="container">
   <div class="row">


         <div class="col-12 col-lg-7 text-center text-lg-left col-xl-8 pt-5 pt-md-5" id="event">
           <div class="indentation-content">
           <div class="topic-wrap ">
             <div><h2>івенти</h2></div>
           </div>
           <p class="info-txt">
             Велика і простора зала пристосована  для проведення майстер-класів, тренінгів, презентацій, зустрічей з однодумцями і поціновувачами власних здобутків, відкритих лекцій і практикумів, урочистих подій. Спеціально розроблені меблі дозволяють за лічені хвилини перетворити її з залы на 60 зручних місць у  навчальний клас з партами для 12 студентів. Також зала облаштована проектором, мікрофоном, аудіосистемою та фліпчартом.
           </p>
           <a href="http://rozvytok.space/event.html" class="btn btn-secondary" >докладніше</a>
           </div>
         </div>

     <div class="col-12 col-lg-5 col-xl-4 mt-5 mt-lg-0 indentation">
       <div class="wrap-block">
         <div class="wrap-img hp-events mx-auto">
            <div class="wrap-svg svg-events"></div>
         </div>
       </div>
     </div>



<div class="container">
  <div class="row">
     <div class="col-12 col-lg-5 col-xl-4 mt-5 mt-lg-0 indentation">
       <div class="wrap-block">
         <div class="wrap-img hp-courses mx-auto">
           <div class="wrap-svg svg-course"></div>
         </div>
       </div>
     </div>

     <div class="col-12 col-lg-7 col-md-pull-1 text-center text-lg-left col-xl-8 pt-4 pt-md-5 courses-block-top" id="courses">
       <div class="indentation-content">
       <div class="topic-wrap ">
         <div><h2>курси</h2></div>
       </div>
       <p class="info-txt">
         Простора зала прилаштована для проведення курсів і занять. Невдовзі розпочнуться курси з 3D моделювання та дизайну інтер'єрів під керівництвом талановитого і досвідченого дизайнера. Плануються запустить курси з програмування, англійської мови, фотографії, відео монтажу.
       </p>
       <a href="http://rozvytok.space/courses.html" class="btn btn-secondary" >докладніше</a>
     </div>
     </div>
</div>
</div>


     <div class="col-12 col-lg-7 text-center text-lg-left col-xl-8 pt-4 pt-md-5 " id="coworking">
       <div class="indentation-content">
       <div class="topic-wrap ">
         <div><h2>КОВОРКІНГ</h2></div>
       </div>
       <p class="info-txt">
         У нашому коворкінг-приміщенні облаштоване найсучасніше середовище на 18 робочих місць. Затишний інтер’єр, доповнений комфортними авторськими меблями. Тут можна облаштувати доцільний робочій простір, який буде надихати своєї змістовністю. Безкоштовно у розпорядженні кава, печиво та ін.        </p>
       <a href="http://rozvytok.space/event.html" class="btn btn-secondary" >докладніше</a>
     </div>
     </div>

     <div class="col-12 col-lg-5 col-xl-4 mt-5 mt-lg-0 indentation">
       <div class="wrap-block">
         <div class="wrap-img hp-coworking mx-auto">
           <div class="wrap-svg svg-coworking"></div>
         </div>
       </div>
     </div>

     <div class="col-12">
       <div class="floor-plan">
         <h2>план приміщення</h2>
       </div>
       <div class="floor-plan-map">
         <img src="../../../assets/images/map.png" class="img-adaptive"/>
       </div>
     </div>

     <div class="container">
       <div class="row">
         <div class="col-12">
           <div class="gallery-block">
             <h2>ФОТО КРЕАТИВНОГО ХАБУ</h2>
           </div>
             <app-slider [images]="currentImages"> </app-slider>

         </div>
       </div>
     </div>


   </div>
 </div>

