<div class="container" xmlns="">
  <div class="row">

    <div class="col-12 wrap-course" style="margin-top: 100px">
      <h2>Розробка iOS / Android додатків із застосуванням React-Native</h2>
    </div>

    <div class="col-12 p-0">

      <div class="item-courses">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс 'Android додатків із застосуванням React-Native'" >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">10</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">7</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 8500грн</div>
             </span>
          </div>

        </div>
      </div>
    </div>


    <div class="item-info">
      <div class="row">
        <div class="col-12">
          <div class="course-info">
            <p>Заглиблення у подробиці розробки мобільних додатків, проектування, налагодження, доставки клієнтам. </p>
            <p>
              Освітня програма торкнеться таких тем: організація й принципи побудови інтерфейсу користувача, прийоми роботи з графічними макетами проектів, взаємодія із API платформами, платформозалежні компоненти, PUSH-нонтифікації, організація коду, взаємодія із зовнішніми сервісами та інше.
            </p>

            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;  Початок курсу: 12 березня <br>
              <i class="fa fa-list" aria-hidden="true"></i>&nbsp; 2 місяці, Вівторок - четвер з 18:00 до 21:00 <br>
              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;  Годин практики: 48 <br>
              <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Мінімальні вимоги:  <br>
              <br>
              - Навики з розробки на JavaScript  <br>
              - Бажаний досвід у React.js  <br>
              - навички роботи з GIT  <br>
              - Наявність власного ноутбуку для занять у аудиторії.
              <br>
              <br>

              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Результат по закінченню курсу:
              <br>
              <br>

              - Розробка мобільного додатку із повним функціоналом. <br>
              - Розуміння та проектування загальної структури додатку. <br>
              - Використання та налаштування нативних компонентів платформи. <br>
              - Взаємодія із зовнішніми сервісами. <br>
              - Повний цикл налагодження й доставки додатку у AppStore/Play Market
              <br>
              <br>

            </p>

          </div>
        </div>

      </div>
    </div>




    <div class="wrap-teacher">

      <div class="name-teacher">
        <h3>Викладач: Andrey Prih </h3>
      </div>

      <div class="teacher-img">
        <img src="../../../../assets/images/page_courses/react_native/teather_1.jpg" alt="3"  class="teacher">
      </div>

      <div class="teacher-info">
        <p>
          Досвід розробки понад 10 років
        </p>
        <p> Великий досвід роботи з внутрішніми продуктами і аутсорсингом. Успішна робота над підтримкою та оновленнями проектів. </p>
        <p> PHP, Javascript ES6, Node.js, ReactJS, AngularJS, HTML/CSS, * nix системи тощо. </p>
      </div>

    </div>


    <div class=" col-12 program-wrap">

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 1 місяць</span>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10">
            <ul class="lesson_plan_left">
              <li>Вступна частина:</li>

              <ul>
                <li>JS, ES2015, ES2017</li>
                <li>Навіщо потрібен React Native?</li>
                <li>AndroidStudio, Xcode</li>
                <li>Встановлення та налаштування робочого оточення</li>
              </ul>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-10">
            <ul class="lesson_plan_right">
              <li>React:</li>

              <ul>
                <li>VirtualDOM</li>
                <li>JSX</li>
                <li>Component</li>
                <li>state, props</li>

              </ul>

              <ul>
                <li>Lifecycle </li>
                <li>Events </li>
                <li>Lists </li>
                <li>практичне завдання</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>

      <span class="pro"><i class="fa fa-calendar" aria-hidden="true"></i> 2 місяць</span>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10">
            <ul >
              <li>React Native </li>
              <ul>

                <li>Особливості Android / iOS додатків</li>
                <li>Чому RN додаток нативне?</li>
                <li>Знайомство з основою:</li>

                <ul>
                  <li>View, Text</li>
                  <li>StyleSheet</li>
                  <li>Flex</li>
                  <li>TextInput</li>
                  <li>Touches</li>
                  <li>ScrollView</li>
                  <li>ListView</li>
                  <li>fetch</li>
                </ul>

                <li>Layout</li>
                <li>Navigation</li>

              </ul>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-10">

            <ul>

              <li>Використання сторонніх бібліотек</li>
              <li>Анімація</li>
              <li>Основи Node.js, Express:</li>

              <ul>
                <li>Розуміння API</li>
                <li>REST</li>
                <li>Основи роботи з БД</li>
                <li>Робота з файлами</li>
                <li>Авторизація, аутентифікація, JWT</li>
                <li>Основи безпеки</li>
              </ul>


              <li>Взаємодія з API</li>
              <li>React Redux</li>
              <li>Збірка додатки, публікація в маркети</li>
              <li>Практика</li>

            </ul>
          </div>
        </div>
      </div>


    </div>


    <div class="col-12 p-0">

      <div class="item-courses-too">

        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-2 col-xs-0"></div>

          <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-xs-12 form-bg">


            <div class="forma">
              <form method="post" action="http://rozvytok.space/answermon.php" accept-charset="UTF-8" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                  <!-- Form Name -->
                  <legend>    Забронювати місце</legend>

                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textinput" name="name" type="text" placeholder="Введіть ім'я*" class="form-control input-md" required="required">

                  </div>
                  <!-- Text input-->
                  <div class="form-group">

                    <input id="textunput" name="phone" type="text" placeholder="Введіть телефон*" class="form-control input-md" required="required">

                  </div>
                  <!-- Button -->
                  <div class="form-group">

                    <input name="kyrs" type="hidden" value="Курс 'Android додатків із застосуванням React-Native'" >
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Відправити заявку</button>

                  </div>
                </fieldset>
              </form>

            </div>


            <div class="amount">

              <div id="shva" class="bulo">Місць:&nbsp;<span class="count">10</span>&nbsp; <img class="user" src="../../../../assets/images/photoshop/user.png"> &nbsp;</div>
              <div id="shiva" class="left">Залишилось:&nbsp;<span class="count">7</span>&nbsp;<img class="user" src="../../../../assets/images/photoshop/user.png">&nbsp;</div>
              <div class="cl"></div>
            </div>

          </div>

          <div class="wrap-data-price">
            <span class="countdown">
                  <div id="getting-started">{{newTimer}}</div>
            </span>

            <span class="countdown">
                   <div class="price">Ціна: 8500грн</div>
             </span>
          </div>

        </div>
      </div>
    </div>






  </div>
</div>
