
<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="events_caption">
        <h2>Івенти</h2>
      </div>
    </div>

    <div class="col-12 events_wrap">

    <div class="row">

      <div class="col-12 mx-auto">

        <div class=" price-event">
          <div class="wrap_event-price">
            <div class="text-center">
              <h4>У будні дні</h4>
              <p>
                До ваших послуг простора зала нашого хабу, у якій можуть розміститися 60 людей. Зала обладнана усім необхідним для проведення вашого заходу.
              </p>
              <div class="event_price">
                <h4 class="mt-3"><span>З 9:00 до 14:00</span><br>200 грн/год</h4>
                <h4 class="mt-3"><span>З 14:00 до 18:00</span><br>300 грн/год</h4>
                <h4 class="mt-3"><span>З 18:00 до 21:00</span><br>400 грн/год</h4>
              </div>
            </div>
          </div>

          <div class="wrap_event-price">

            <div class="text-center">
              <h4>У вихідні дні</h4>
              <p>
                Наш хаб гостинно привітає вас та допоможе зробити ваш захід неповторним. Проектор, фліпбоард, колонки та мікрофон до ваших послуг.
              </p>

              <div class="event_price">
                <h4 class="mt-3"><span>З 09:00 до 21:00</span><br>400 грн/год</h4>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 cetering_block">

          <h5>КЕЙТЕРІНГ</h5>
          <p>Обслуговування здійснюється Chill`s Restaurant у супроводі офіціантів. Ми пропонуємо облаштування кейтерінг-зони у великій залі Креативного Хабу Розвиток.</p>

        <div class="catering_price">
          <div class="price-card text-center">
            <h6>«Економ»</h6>
            <p>
              Кава заварна та чай, молоко до кави, печиво або бісквіт власного приготування (по 50 грам), яблуко, груша, виноград (100 грам).
            </p>
            <h3 class="mt-2">90<span> грн/люд</span></h3>
          </div>


          <div class="price-card text-center">
            <h6>«Бізнес»</h6>
            <p>
              Кава заварна та чай, молоко, вершки до кави, канапки з шинкою або сиром, печиво та бісквіт власного приготування (по 50 грам), сезонні фрукти.
            </p>
            <h3 class="mt-2">120<span> грн/люд</span></h3>
          </div>

          <div class="price-card text-center">
            <h6>«Преміум»</h6>
            <p>
              Кава заварна та чай (три види), молоко, вершки, мед, чиабата з телятиною або сьомгою, овочі гриль з сиром Рокфор (100г), бісквіт власного приготування.
            </p>
            <h3 class="mt-2">150<span> грн/люд.</span></h3>
          </div>

        </div>
      </div>

      <div class="col-12">
        <img class="mt-5" src="../../../assets/images/page_events/modal-foot.svg" alt="">
      </div>

    </div>
    </div>






    <div class="container advent-block events_caption text-center">
      <h2>КОМФОРТ</h2>
      <div class="row">


        <div class="new_comfort">

          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_1.png" alt="">
              <h6 class="mt-3">Проектор</h6>

            </div>
          </div>

          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_2.png" alt="">
              <h6 class="mt-3">Колонки</h6>

            </div>
          </div>

          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_3.png" alt="">
              <h6 class="mt-3">Флiпчарт</h6>

            </div>
          </div>

          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_4.png" alt="">
              <h6 class="mt-3">Ресторан на 0 поверсi</h6>
            </div>
          </div>

          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_5.png" alt="">
              <h6 class="mt-3">70 посадочних мiсць</h6>
            </div>
          </div>

          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_6.png" alt="">
              <h6 class="mt-3">18 парт для занять</h6>

            </div>
          </div>
          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_7.png" alt="">
              <h6 class="mt-3">Клiкер</h6>

            </div>
          </div>
          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_8.png" alt="">
              <h6 class="mt-3">Вода</h6>

            </div>
          </div>
          <div class="comfort_block">
            <div class="comfort">
              <img class="mx-auto" src="../../../assets/images/page_events/comfort_9.png" alt="">
              <h6 class="mt-3">10 пуфiв</h6>

            </div>
          </div>

        </div>

      </div>
    </div>








    <div class="col-12">

      <div class="events_caption">
        <h2>ФОТО ІВЕНТ ЗОНИ</h2>
      </div>
      <app-slider [images]="currentImages"> </app-slider>
    </div>

  </div>
</div>
