/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";



@font-face {
  font-family: GeometriaBold;
  src: url(fonts/Geometria-Bold.otf);
}
@font-face {
  font-family: FuturalBold;
  src: url(fonts/futura-bold.otf);
}
@font-face {
  font-family: FuturaBookReg;
  src: url(fonts/futurabookc.otf);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: url("assets/images/bg-main.svg") no-repeat;
  background-size: 100%;
  background-attachment: fixed;

}
p{
  font-size: 16px;
  font-family: FuturaBookReg;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
  position: relative;
  transform: rotate(0deg) translateY(0%) translateX(0%);
}
